.app {
	display: flex;
	justify-content: center;
}

.app_card {
	display: flex;
	flex-direction: column;
	width: 100vw;
	max-width: 450px;
	color: white;
	margin-top: 3%;
	background: rgb(92, 110, 251);
}

.app_cardext {
	max-width: 600px;
}

.app_title {
	display: flex;
	justify-content: space-between;
	font-weight: 700;
	padding: 2% 20px 1% 20px;
}

.leave__room {
	background: transparent;
	color: white;
	align-self: center;
	border: none;
	cursor: pointer;
}

.mobile__view {
	height: 1fr;
}

@media (max-width: 500px) {
	.app_card {
		height: 100vh;
		margin-top: 0;
	}
	.app_title {
		height: 6vh;
	}
	.app_title h1 {
		font-size: larger;
	}
	.mobile__view {
		height: 85vh;
	}
	.chat__body {
		height: 82vh;
	}
	.chat__footer {
		height: 5vh;
	}
}
